<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
    <body>
        <form action = "/form_signUpNow" method="post">
            <h2></h2>Username:<br>
            <input type="text" name='new_username'><br>
            Password:<br>
            <input name='new_password' ><br><br>
        <input type="submit" value = "SignUpNow">
        </form>
        <form action = "/form_back" method = "post">
            <input type="submit" value = "Back">
        </form>
        <h1>{{info}}</h1>
    </body>
</html>